APP_SECRET_KEY=change-this-to-a-random-long-secret-string
APP_DATABASE_URL=sqlite:///./fastapi_vote.db
APP_TIMEZONE=Asia/Shanghai
APP_SESSION_HTTPS_ONLY=false

APP_CHAIN_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_RPC_KEY
APP_CHAIN_PRIVATE_KEY=YOUR_PRIVATE_KEY_WITHOUT_0x
APP_CHAIN_NETWORK_NAME=sepolia

APP_PUBLIC_DOMAIN=vote.example.com

REPORT_GAS=false
